@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
body {
    font-family: 'Ubuntu Mono', monospace;
}

.header {
    padding-top: 10px;
    background-color: #ccc;
    top: 10px;
}

h1 {
    color: purple;
    margin-right: 0;
    position: relative;
}

.emoji {
    font-size: 3rem;
}

.emoji:hover {
    font-size: 3.5rem;
}

.image {
    border-radius: 100%;
    display: inline-block;
    margin-right: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    color: purple;
    margin-left: 15px;
}